# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# Visual Studio
.vs/
*.ipch
*.suo
*.user
*.tlog
*.idb

# Build folders
x64/
Debug/
Release/

# OneDrive / Windows
*.tmp
*.lnk
# =====================
# VHDL / ModelSim junk
# =====================
work/
*/work/
@_opt/
*/@_opt/

*.wlf
*.cr.mti
*.mpf_new
transcript
_vmake
_info

*_lib*.qdb
*_lib*.qpg
*_lib*.qtl
*.qdb
*.qpg
*.qtl
